:root {
  --black: #08080b;
  --white: #f8f8f7;
  --pink: #ff008c;
  --pink-light: #ff69ba;
  --line: #ffffff1f;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background: var(--black);
  scroll-padding-top: 74px;
}
body {
  background: var(--black);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: Inter, Montserrat, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
::selection {
  background: var(--pink);
  color: #fff;
}
@keyframes gloss-flow {
  0% {
    background-position: 100%;
  }
  to {
    background-position: 0%;
  }
}
